{% extends "base.html" %}
{% block title %}Temperatures{% endblock %}
{% block nav%}
    <div class="collapse navbar-collapse" id="bs-the-navbar-collapse-1">
        <ul class="nav navbar-nav">
        </ul>
    </div>
{% endblock %}
{% block content %}
    {% for temperature in temperatures_list %}
    {% endfor %}
 <div class="">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Temperature</th>
        </tr>
      </thead>
      <tbody>
      {% for temperature in temperatures_list %}
        <tr>
          <td>{{temperature.id}}</td>
          <td>{{temperature.date_time}}</td>
          <td>{{temperature.temperature | floatformat:1}}°C</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
     <div class="pagination " style="margin-left: 45%">
            <span class="step-links pagination pagination-sm">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}&start_date={{start_date}}&end_date={{end_date}}">précédent</a>
                {% endif %}

                <span class="current pagination pagination-sm">
                    Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}&start_date={{start_date}}&end_date={{end_date}}">suivant</a>
                {% endif %}
            </span>
     </div> 
  </div><!-- /example -->

{% endblock %}
{% block footer %}
    <div class="footer">
        <nav id="navbar-login" class="navbar navbar-default"><p class="navbar-text"><a href='#' id="admin-contact"
        class="navbar-link"></a>&nbsp;&nbsp;&nbsp;&copy;BAD</p>
        </nav>
    </div>
{% endblock %}
