{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load custom_tags %}
{% block title %}Localisations{% endblock %}


{% block nav %}
{% endblock %}

{% block content %}
<link href='http://fonts.googleapis.com/css?family=Special+Elite|Bitter' rel='stylesheet' type='text/css'>
<div class="row-fluid">
    <div class="col-md-3">
       <div class="col-md-12">
         <div class="panel panel-primary">
             <div class="panel-heading"><center>Info Capteur</center></div>
                 {% include "blocks/base_info_capteur.html" %}
         </div>
       </div>
       <div class="col-md-12">
         <div class="panel panel-primary">
             <div class="panel-heading"><center>Mesure</center></div>
             <div class="panel-body ">
                 <div class="col-md-9">
                     {% if capteur.type_mesure == 'Temperature' %}
                 	<a id="" class="" href="/mesure/capteur/{{capteur.nom_capteur}}">{% include "blocks/thermometer.html" %}</a>
                     {% else %}
                 	<a id="" class="" href="/mesure/capteur/{{capteur.nom_capteur}}">{% include "blocks/hygrometrie.html" %}</a>
                     {% endif %}
                 </div>
                 <div class="col-md-3">
                     <div class="">
                 	<p>{{ capteur.last_mesure.valeur }}%</p>
                     </div>
                     <div class="" style="margin-top:100%">
                 	<p>{{ capteur.mes_min }}</p>
                 	<p>{{ capteur.mes_moy | floatformat:2 }}</p>
                 	<p>{{ capteur.mes_max }}</p>
                     </div>
                 </div>
             </div>
         </div>
       </div>
    </div>
    <div class="col-md-9">
       <div class="panel panel-primary">
            <div class="panel-heading"><center>Graph des mesures</center></div>
            {% include "blocks/line_chart_capteur.html" %}
       </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
