{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load custom_tags %}
{% block title %}{{carte.nom_carte}} Details{% endblock %}


{% block nav %}
{% endblock %}

{% block content %}
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<meta http-equiv="refresh" content="15" />

<link href='http://fonts.googleapis.com/css?family=Special+Elite|Bitter' rel='stylesheet' type='text/css'>
<div class="row-fluid">
    <div class="col-md-3">
       <div class="col-md-12">
         <div class="panel panel-primary">
             <div class="panel-heading"><center>Info Carte</center></div>
                 {% include "blocks/base_info_carte.html" %}
         </div>
       </div>
       <!-- Here to include some info below base_info-->
    </div>
    <div class="col-md-9">
       <div class="col-md-6">
          <div class="panel panel-primary mouseentrepot">
              <div class="panel-body ">
		<div class="row-fluid col-md-12">
		    {% for capteur in capteurs %}  
			 <a id="" class="" href="/mesure/capteur/{{capteur.nom_capteur}}">{% include "blocks/hygrometrie.html" %}</a>
                    {% endfor %}
		 </div>
	      </div>
	  </div> 
       </div> 
       <img src="/static/img/{{carte.type_carte|lower}}.png" style="width:400px; height:300px;"/>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
