{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load custom_tags %}
{% block title %}{{carte.nom_carte}} Details{% endblock %}


{% block nav %}
{% endblock %}

{% block content %}
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<!--meta http-equiv="refresh" content="15" /-->

{#% include "blocks/update_carte.html" %#}
<link href='http://fonts.googleapis.com/css?family=Special+Elite|Bitter' rel='stylesheet' type='text/css'>
<div class="row-fluid">
    <div class="col-md-3">
       <div class="col-md-12">
         <div class="panel panel-primary">
             <div class="panel-heading">
               <div class="row">
                 <div class="col-md-6">
                    Info Carte
                 </div>
                 <div class="col-md-6">
            {% for group in user.groups.all %}
                {% if group.name == 'Gestionnaire' %}
                    <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">
                    Editer
                    </button>
                {% endif %}
            {% endfor %}
                 </div>
               </div>
             </div>
                 {% include "blocks/base_info_carte.html" %}
         </div>
       </div>
       <!-- Here to include some info below base_info-->
       {% include "blocks/update_carte.html" %}
    </div>
    <div class="col-md-9">
       <div class="col-md-6">
          <div class="panel panel-primary mouseentrepot">
              <div class="panel-body ">
                  <div class="row-fluid col-md-12">
                  {% if capteurs %}
                    {% for capteur in capteurs %}  
                        {% ifequal capteur.type_mesure 'Hygrometrie' %}
                          <a id="" class="" href="/mesure/capteur/{{capteur.nom_capteur}}">{% include "blocks/hygrometrie.html" %}</a>
                        {% endifequal %}
                    {% endfor %}
                    {% for capteur in capteurs %}  
                        {% ifequal capteur.type_mesure 'Temperature' %}
                          <a style="width:250px" id="" class="" href="/mesure/capteur/{{capteur.nom_capteur}}">{% include "blocks/thermometer.html" %}</a>
                        {% endifequal %}
                    {% endfor %}
                    {% for group in user.groups.all %}
                        {% if group.name == 'Gestionnaire' %}
                            <div style="background-color:black; width:180px; height:180px;">
                                <a style="color:white" href="/admin/moniteur/capteur/add/">Ajouter un nouveau capteur...</a> 
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% else %}
                        <div class="alert alert-info">Pas de capteurs attribués à cette carte.</div>
                        {% for group in user.groups.all %}
                            {% if group.name == 'Gestionnaire' %}
                                <div style="background-color:black; width:180px; height:180px;">
                                    <a style="color:white" href="/admin/moniteur/capteur/add/">Ajouter un nouveau capteur...</a> 
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
	          </div>
	      </div> 
       </div> 
       {% if carte.is_activated == True%}
           <img src="/static/img/{{carte.type_carte|lower}}.png" style="width:400px; height:300px;"/>
       {% else %}
           <img src="/static/img/{{carte.type_carte|lower}}-desaturate.png" style="width:400px; height:300px;"/>
       {% endif %}
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
