{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load custom_tags %}
{% block title %}Localisations{% endblock %}


{% block nav %}
{% endblock %}

{% block content %}
<link href='http://fonts.googleapis.com/css?family=Special+Elite|Bitter' rel='stylesheet' type='text/css'>
<div class="row" style="background-color:grey; border:solid 2px; border-color:black;">
  <div class="col-md-10 col-md-offset-1" style="margin-top:1%; margin-bottom:1%;">
    <div class="row "style="background-color:white; border:solid 2px; border-color:black; margin-left:0px;">
          {% for carte in cartes %}
	      <div class="col-md-3" style="border:solid 1px; border-color:black; color:black;">
		  <div class="row ">
		      <div class="col-md-12">
			     <p>Nom carte: {{carte.nom_carte}}</p>
		      </div>
		      <div class="col-md-12">
			     <p>Type: {{carte.type_carte}}</p>
		      </div>
		      <div class="col-md-12">
			     <p>Etat: {{carte.is_activated|display_state}}</p>
		      </div>
		      <div class="col-md-12">
			     <p>Etat: {{carte.mac}}</p>
		      </div>
		      <div class="col-md-12">
			     <p>Etat: {{carte.memoire_disque}}</p>
		      </div>
		  </div>
	      </div>
          {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
