{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load custom_tags %}
{% block title %}Localisations{% endblock %}


{% block nav %}
{% endblock %}

{% block content %}
<link href='http://fonts.googleapis.com/css?family=Special+Elite|Bitter' rel='stylesheet' type='text/css'>
<div class="row-fluid">
    <div class="container-fluid">
      <div class="col-md-9 col-md-offset-3">
        <div class="panel panel-primary mouseentrepot"><!-- panel primary -->
            <div class="panel-heading"><center>Liste des cartes</center></div>
               <div class="panel-body ">
                <div class="col-md-12">
                   {% for carte in cartes %}
                    <div class="col-md-3">
                        <div class="row">
                        {% if carte.status == "up" %}
                          <div class="panel panel-primary col-md-11 col-md-offset-1 panel-up">
                              <div class="panel-heading carte-up"><center>{{carte.nom_carte|truncatechars:12}}</center></div>
                        {% else %}
                          <div class="panel panel-primary col-md-11 col-md-offset-1 panel-down">
                              <div class="panel-heading carte-down"><center>{{carte.nom_carte|truncatechars:12}}</center></div>
                        {% endif %}
                              <div class="panel-body">
                                  <div class="col-md-12">
                                    {% if carte.type_carte == "Raspberry"%}
                                        {% if carte.is_activated == True%}
                                           <a id="" class="" href="/mesure/carte/{{carte.nom_carte}}/"><img src="/static/img/raspberry-pi.jpg"/></a>
                                        {% else %}
                                           <a id="" class="" href="/mesure/carte/{{carte.nom_carte}}/"><img src="/static/img/raspberry-pi-desaturate.jpg"/></a>
                                        {% endif %}
                                    {% else %}
                                        {% if carte.is_activated == True%}
                                           <a id="" class="" href="/mesure/carte/{{carte.nom_carte}}/"><img src="/static/img/arduino2.png" /></a>
                                        {% else %}
                                           <a id="" class="" href="/mesure/carte/{{carte.nom_carte}}/"><img src="/static/img/arduino2-desaturate.png"/></a>
                                        {% endif %}
                                    {% endif %}
                                  </div>
                              </div>				  
                          </div>
                                    
                        </div>
                    </div>
                   {% endfor %}
		</div>
	</div>
{% endblock %}

{% block footer %}
{% endblock %}
