{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load custom_tags %}
{% block title %}Localisations{% endblock %}


{% block nav %}
{% endblock %}

{% block content %}
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<div class="container-fluid">
		<h1><center>{{localisation | display_name}}</center></h1>
		<div class="row-fluid">
			{% for capteur in capteurs %}  
			<div class="col-md-3">
				<div class="row">
					<div class="panel panel-primary mouseentrepot col-md-11 col-md-offset-1">
						<div class="panel-heading"><center>{{capteur.nom_capteur}}</center></div>
						<div class="panel-body ">
							{% if capteur.type_mesure == 'Temperature' %}
									<div class="col-md-3">
											<a id="" class="" href="/mesure/capteur/{{capteur.nom_capteur}}">{% include "blocks/thermometer.html" %}</a>									
									</div>
									<div class="col-md-9">
										<h1 class="affichetemp">{{ capteur.last_mesure.valeur }}°</h1>
									</div>
							{% else  %}
									<div class="col-md-9">
											<a id="" class="" href="/mesure/capteur/{{capteur.nom_capteur}}">{% include "blocks/hygrometrie.html" %}</a>
									</div>
									<div class="col-md-3">
										<h5 class="affichetemp">{{ capteur.last_mesure.valeur }}%</h5>
									</div>
							{% endif %}
						</div>
					</div>				  
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="panel panel-success">
				<div class="panel-heading"><center>Entrepot Monitoring</center></div>
				<div id="entrstats" class=" panel-body">
					<div id="line-example"></div>
					{% include "blocks/entrepot_stats.html" %}
				</div>
			  <div class="panel-footer"><center>Statistiques sur tous les capteurs disponibles sur cet entrepot</center></div>
			</div>
		</div>
	</div>

{% endblock %}

{% block footer %}
{% endblock %}
