{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}
{% load custom_tags %}
{% block title %}Localisations{% endblock %}


{% block nav %}
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row-fluid allentrepots">
		{% regroup capteurs|dictsort:"localisation" by localisation as entrepots %}
		   {% for entrepot in entrepots %}
			<div class="col-md-3">
				<div class="row">
				  <div class="panel panel-primary mouseentrepot col-md-11 col-md-offset-1">
					  <div class="panel-heading"><center>{{entrepot.grouper|display_name}}</center></div>
					  <div class="panel-body ">
						  <div class="col-md-12">
							<a id="" class="" href="/mesure/localisation/{{entrepot.grouper}}/"><img src="/static/img/batiment.png"/></a>
						  </div>
					  </div>				  
				  </div>
				  			
				</div>
			</div>
		   {% endfor %}
		</div>
	</div>
{% endblock %}

{% block footer %}
{% endblock %}
