<html>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1.1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Mesures', 'Success',{role:'style'},{role:'annotation'}, 'Echecs',{role:'style'},{role:'annotation'}],
          ['',  {{version.mesures_success}},'fill-color:rgb(87,171,39); fill-opacity:0.6','{{version.successPercent}}%',{{version.mesures_failed}},'fill-color:rgb(226,0,26); fill-opacity:0.6','{{version.failedPercent}}%'],
        ]);

        var options = {
          title: '',
          colors: ['green','red'],
          //vAxis: {title: 'Year',  titleTextStyle: {color: 'red'}},
          isStacked: true,
          dataOpacity: 0.5,
          chartArea: {left:5,top:15,width:"82%",height:"75%"},
          bar: { groupWidth: '35%' },
          //legend: { position: 'bottom', maxLines: 3 },
          backgroundColor: {
               stroke: 'white',
               strokeWidth: 3,
          },
          //focusTarget: 'category',
          focusTarget: 'datum',
          hAxis:{
               viewWindowMode:'pretty',
               viewWindow:{min:0},
               minorGridlines:{count:0,},
               gridlines:{
                   count:0,
                   color:'white',
               },
               baselineColor:'white',
               format:'',
          },
        };

        var chart = new google.visualization.BarChart(document.getElementById('bar_chart'));

        function selectHandler() {
          var selectedItem = chart.getSelection()[0];
          if (selectedItem) {
            var href_link = 'test'; //Include each link here to render templates
            location.href = href_link.toLowerCase().concat('/'); 
          }
        }

        google.visualization.events.addListener(chart, 'select', selectHandler);
        
        chart.draw(data, options);
      }
    </script>
</html>
