<html>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Date', 'Mesures',{role:'style'}, 'Success',{role:'style'}, 'Echoue',{role:'style'}],
          {% for campagne in campagnes_lineChart %}
              ['{{campagne.date|safe}}',{{campagne.nbrMesure}},'color:blue', {{campagne.nbrSuccessMesure}},'fill-color:green',{{campagne.nbrFailedMesure}},'color:red'],
          {% endfor %}
        ]);

        var options = {
          title: '',
          colors: ['blue','green','red'],
          curveType: 'function',
          chartArea: {left:45,top:20,width:"80%",height:"75%"},
          backgroundColor: {
               stroke: 'white',
               strokeWidth: 3,
          },
          vAxis:{
              minValue:0,
              viewWindow: {min:0},          
          },
          animation:{
              duration:3000,
              easing:'out',

          },
        };

        var chart = new google.visualization.LineChart(document.getElementById('line_chart'));
        chart.draw(data, options);
      }
    </script>
</html>
