<!DOCTYPE html>
<html>
<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
<meta charset=utf-8 />
<div id="line-chart"></div>
</html>

<script>

Morris.Line({
  element: 'line-chart',
  data: [
      {% for campagne in campagnes_lineChart %}
          { daily: '{{campagne.date|safe}}', success: {{campagne.nbrSuccessMesure}}, echecs: {{campagne.nbrFailedMesure}}, total:{{campagne.nbrMesure}}},
      {% endfor %}
  ],
  xkey: 'daily',
  ykeys: ['success', 'echecs', 'total'],
  lineColors: ['rgba(87,171,39, 1)', 'rgba(226,0,26, 1)', 'rgba(26,23,27, 1)'],
  labels: ['Succès', 'Echecs', 'Total'],
  /*pointSize:'4px',*/
});

</script>
