{% load custom_tags %}

<div class="list-group">
    <a href="" class="list-group-item">Nom Carte: {{carte.slug}}  
    </a>
    <a href="" class="list-group-item">Type Carte: {{carte.type_carte}}</a>
    <a href="" class="list-group-item">Activé: {{carte.is_activated|display_state}}</a>
    <a href="" class="list-group-item">MAC: {{carte.mac}}</a>
    <a href="" class="list-group-item">Mémoire: {{carte.memoire_disque}}</a>
    <a href="" class="list-group-item">Etat Service: {{carte.status|display_state}}</a>
    <a href="" class="list-group-item">IP actuelle: {{carte.ip}}</a>
    <a href="" class="list-group-item">Dernière Vérification: {{last_nmap}}</a>
</div>
