{% load custom_tags %}

<div class="list-group">
    <a href="" class="list-group-item">Nom Carte: {{carte.slug}}  
    </a>
    <a href="" class="list-group-item">Type Carte: {{carte.type_carte}}</a>
    <a href="" class="list-group-item">Activé:<b>{{carte.is_activated|display_state}}</b></a>
    <a href="" class="list-group-item">MAC: <b>{{carte.mac}}</b></a>
    <a href="" class="list-group-item">Mémoire: {{carte.memoire_disque}}</a>
    <a href="" class="list-group-item">Etat Service: <b>{{carte.status|display_state}}</b></a>
    <a href="" class="list-group-item">IP actuelle: <b>{{carte.ip}}</b></a>
    <a href="" class="list-group-item">Dernière Vérification: {{last_nmap}}</a>
</div>
