{% load custom_tags %}

<div class="list-group">
    <!--a href="#" class="list-group-item active title-sfr">
    Informations sur la version testée 
    </a-->
    <a href="#" class="list-group-item">Capteur: {{capteur.nom_capteur}}</a>
    <!--div class="dropdown list-group-item">
          <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" style="margin-left:10%;">
             <span class="caret"></span>
             <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" style="margin-left:50%">
               {% for capt in capteurs %}
                   {% if capt != version %}
                      <li role="presentation"><a href=""> {{capt.nom_capteur}} </a></li>
                   {% endif %}
               {% endfor %}
             </ul>
          </a>
    </div-->
    <a href="/mesure/localisation/{{capteur.localisation}}" class="list-group-item">Localisation: <b>{{capteur.localisation | display_name}}</b></a>
    <!--a href="" class="list-group-item">Marque: {{capteur.marque}}</a-->
    <a href="" class="list-group-item">Dernière mesure:<br><b>{{ capteur.last_mesure.date_mesure }}</b></a>
    <a href="" class="list-group-item">Type Mesure: {{capteur.type_mesure}}</a>
    <!-- If user is gestionnaire -->
    {% for group in user.groups.all %}
        {% if group.name == 'Gestionnaire' %}
            <a href="" class="list-group-item">Date Achat: {{capteur.date_achat}}</a>
            <a href="" class="list-group-item">Date Activation: {{capteur.date_activation}}</a>
            <a href="/mesure/carte/{{capteur.carte.slug}}" class="list-group-item">Carte: {{capteur.carte}}</a>
        {% endif %}
    {% endfor %}
</div>
