<div class="panel panel-primary custom-panel-border-sfr">
      <!-- Default panel contents -->
    <div class="panel-heading custom-panel-heading-sfr">Capteurs</div>
      <!--div class="panel-body">
        <p></p>
      </div-->

      <!-- Table -->
    <div class=""><!-- Check responsive-->
        <table class="table">
            <thead>
              <tr>
                <th style="text-align:left;font-family:Ubuntu; font-weight:bold; font-size:17px;">Nom</th>
                <th style="text-align:left;font-family:Ubuntu; font-weight:bold; font-size:17px;">Statut</th>
              </tr>
            </thead>
            <tbody>
              {% for capteur in capteurs %}
              <tr>
                  <td style="text-align:left; padding:0px 1px 0px 0px;"><a href="#"><div class="theme-sfr-font">{{capteur.nom_capteur | upper}}</div></a></td>
                <td class="" style="padding:0px"><a href="#"><div class="theme-sfr-font">{{capteur.type_mesure}}</div></a>
                
                </td>         
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
</div>
