<html>
<head>
    <script type="text/javascript" src="/static/RGraph/libraries/RGraph.common.core.js" ></script>
    <script type="text/javascript" src="/static/RGraph/libraries/RGraph.common.dynamic.js" ></script>
    <script type="text/javascript" src="/static/RGraph/libraries/RGraph.common.tooltips.js" ></script>
    <script type="text/javascript" src="/static/RGraph/libraries/RGraph.gauge.js" ></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

    <canvas id="{{capteur.nom_capteur|safe}}" width="180" height="180" style="background-color: grey;"></canvas>
    <script>
        $(document).ready(function ()
        {
            var gauge = new RGraph.Gauge('{{capteur.nom_capteur|safe}}', 0, 100, {{ capteur.last_mesure.valeur }})
                .set('background.color', 'white')
                .set('colors.ranges', ['green'])
                .set('needle.colors', ['red'])
                .set('text.color', 'green')
                .set('title.top', 'H')
                .set('title.top.color', 'black')
                
                //.set('tooltips.event', 'onmousemove')
                //.set('tooltips', ["test <b style='color:red'>ça</b> ici"])
                .grow();
        })
    </script>
</html>
