{% load custom_tags %}

<!DOCTYPE html>
<html>
<head>
    <script src="/static/js/raphael-min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://cdn.oesmith.co.uk/morris-0.4.1.min.js"></script>
    <!--script type="text/javascript" src="/static/morris/raphael-min.js" ></script>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="/static/morris/morris.min.js" ></script-->
    <meta charset=utf-8 />
	<div id="line-chart-temp"></div>
</head>
    <script>
		Morris.Line({
		  element: 'line-chart-temp',
		  data: [
          {% for mesure in mesures %}
              {% ifequal mesure.capteur.type_mesure 'Temperature' %} 
                  { x: '{{mesure.date_mesure | safe}}', a: {{mesure.valeur | safe}}},
              {% endifequal %} 
          {% endfor %} 
		  ],
		  xkey: 'x',
		  ykeys: ['a'],
		  labels: ['Temperature',],
          lineWidth:2,
          pointSize:2,
          goals: [1.0, -1.0],
          goalLineColors:['red', 'red'],
          continuousLine:true,
	  smooth:false,
          //ymax:50,
          //events: ['2014-05-24 13:11:00', '2014-05-24 15:11:00', '2014-05-24 12:11:00'],
		});
    </script>
</html>
