<html>
<head>
    <script type="text/javascript" src="/static/RGraph/libraries/RGraph.common.core.js" ></script>
    <script type="text/javascript" src="/static/RGraph/libraries/RGraph.common.dynamic.js" ></script>
    <script type="text/javascript" src="/static/RGraph/libraries/RGraph.common.tooltips.js" ></script>
    <script type="text/javascript" src="/static/RGraph/libraries/RGraph.thermometer.js" ></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>

<!-- content -->
    <canvas id="{{capteur.nom_capteur|safe}}" width="70" height="200">[No canvas support]</canvas>
    
    <script>
        $(document).ready(function ()
        {
            var thermometer = new RGraph.Thermometer('{{capteur.nom_capteur|safe}}', -50,50,25) //To introduce value instead 25
                .set('colors', ['green'])
                .set('tooltips.event', 'onmousemove')
                .set('tooltips', ["test <b style='color:red'>ça</b> ici"])
                .grow();
        })
    </script>
<!-- content -->
</html>
