body , .mouseentrepot{
 background-color:white;
}

/*.mouseentrepot:hover {
 background-color:grey;
}*/

.panel{
	padding:0px;
}
h1{
	font-family: 'Oswald', sans-serif;
}

.carte_down{
    color: rgba(255,255,255, 1);
    background-color: rgba(226,0,26, 1);
    border-color: rgba(226,0,26, 1);
}

.panel-primary > .carte-up {
    font-family:'Ubuntu';
    font-weight: bold;
    font-size: 17px;
    color: rgba(26,23,27, 1);
    background-color: rgba(87,171,39, 1);
    border-color: rgba(87,171,39, 1);
}

.panel-up{
    border-color: rgba(87,171,39, 1);
}

.panel-primary > .carte-down {
    font-family:'Ubuntu';
    font-weight: bold;
    font-size: 17px;
    color: rgba(26,23,27, 1);
    background-color: rgba(226,0,26, 1);
    border-color: rgba(226,0,26, 1);
}

.panel-down{
    border-color: rgba(226,0,26, 1);
    font-weight: bold;
    color: white;
}

.navbar-inverse 
.navbar-brand {
    color:white;
    font-size: 32px;
}

#home{
   font-family:'Righteous';
}

.navbar-inverse .navbar-nav > li > a {
   font-family:'Lobster Two';
   font-weight: bold;
   font-size: 30px;
   color: white;

}


.panel-primary > .panel-heading {
    font-family:'Sanchez';
   font-size: 24px;
    color: black;
    background-color: #428BCA;
    border-color: #428BCA;
}

